* {
    font-family: Monaco, Helvetica, Verdana;
    font-weight: 175;
    color: black;
} 

button {
    padding: 8px;
    border-radius: 10%;
    font-size: larger;

}

#cl {
      background: rgb(186,255,251);
      background: linear-gradient(90deg, rgba(186,255,251,1) 0%, rgba(240,253,255,1) 0%, rgba(188,202,255,1) 51%, rgba(148,220,255,1) 68%, rgba(103,213,255,1) 87%, rgba(0,48,255,1) 100%);
} 


